.container {
    padding: 10px
}
.field{
    width: 100%
}
.visit-card{
    padding-top: 5px;
    margin-bottom: 5px
}

.padding-bottom-5{
    padding-bottom: 5px
}

.light-button{
    background-color:lightseagreen
}
.centered-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px
}